#root {
  min-width: 100%;
  /*min-width: 768px;*/
  /*max-width: 1280px;*/
  max-width: 100%;
  margin: auto;
  /*padding: 2rem;*/
  padding: 0px;
  text-align: center;
  background-color: #8a8a8a;
}

.row {
  padding-bottom: 20px;
  /*
  padding-left: 20px;
  padding-right: 20px;
  */
}

.container {
  
}

.webpage-container {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1600px;
}

.navbar-brand {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-bar-custom {
  background-color: #696969;
  color: #f05a5a;
}

.nav-bar-menu-button {
  padding: 5px;
  background-color: transparent;
  border-color: transparent;
}

.nav-bar-menu-button:hover {
  background-color: black;
  border-color: black;
  color:white;
}

.nav-bar-menu-button:active:focus {
  color: black;
  background-color: white;
  border-color: white;
}

.nav-bar-menu-button-icon {
  width: 2em;
  height: 2em;
}

.btn-primary {
  align-items: center;
  justify-content: center;
}

.nav-menu {
  background-color: #696969;
}

.nav-menu-link-container {
  
}

.nav-menu-row {
  padding-bottom: 5px;
}

.nav-menu-button {
  width: 100%;
  background-color: transparent;
  border-color: black;
  color: black;
}

.nav-menu-button:hover {
  background-color: black;
  border-color: black;
}

.nav-menu-button:active:focus {
  color: black;
  background-color: white;
  border-color: white;
}