#root {
  min-width: 100%;
  /*min-width: 768px;*/
  /*max-width: 1280px;*/
  max-width: 100%;
  margin: auto;
  /*padding: 2rem;*/
  padding: 0px;
  text-align: center;
}

.row {
  padding-bottom: 20px;
  /*
  padding-left: 20px;
  padding-right: 20px;
  */
}

.webpage-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50vh;/*100px;*/
  max-width: 1600px;
  min-height: 100vh;
}

.custom-page {
  padding-top: 0px;
}

.navbar-brand {
  padding-left: 15px;
  padding-right: 15px;
}

.nav-bar-custom {
}

.nav-bar-menu-button {
  padding: 5px;
}

.nav-bar-menu-button:hover {
}

.nav-bar-menu-button:active:focus {
}

.nav-bar-menu-button-icon {
  width: 2em;
  height: 2em;
}

.btn-primary {
  align-items: center;
  justify-content: center;
}

.nav-menu {
}

.nav-menu-link-container {
  
}

.nav-menu-row {
  padding-bottom: 5px;
}

.nav-menu-button {
  width: 100%;
}

.nav-menu-button:hover {
}

.nav-menu-button:active:focus {
}

.info-card-container > .row {
  padding-bottom: 80px;
}

.info-card {
  min-height: 80vh;
  max-height: 100vh;
  /*filter: blur(calc(2.1px * 1));*/
}

.info-card-header {
  font-weight: bold;
  font-size: 20px;
}

.page-header {
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: bold;
  height: 35vh;
}